#Python Cache
__pycache__/
.pytest_cache/

#Python Virtual environment
.venv/

#Packaging
*.egg-info/
pip-wheel-metadata/

#IDE file
.vscode
.idea
*.iml

#UNIX file
.directory

#Portray generated html
site/