#Python Cache
__pycache__/

# Pytest cache
.pytest_cache/

#Python Virtual environment
.venv/
.nox/

#Poetry dist folder
dist/

#Packaging
*.egg-info/
pip-wheel-metadata/

#IDE file
.vscode
.idea
*.iml

#UNIX file
.directory

#Portray generated html
site/